<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="f2d88741-a005-4222-97b3-9f01fa496419" Publisher="CN=IB USER" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WorldClock</DisplayName>
    <PublisherDisplayName>IB USER</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WorldClock.App">
      <m2:VisualElements DisplayName="WorldClock" Square150x150Logo="Assets\clock-150x150.png" Square30x30Logo="Assets\SmallLogo.png" Description="WorldClock" ForegroundText="light" BackgroundColor="navy">
        <m2:DefaultTile ShortName="WorldClock">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="navy" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>